* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  height: 100dvh;
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    rgb(185, 185, 185),
    rgb(253, 255, 255)
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#app {
  padding: 0 1rem;
}

#app h1 {
  width: fit-content;
  margin: auto;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  font-size: clamp(1.5rem, 2.5rem, 3rem);
}

#app h1::before {
  content: "";
  position: absolute;

  display: block;
  width: 90%;
  height: 4px;
  bottom: 0;
  background-color: #000000;
  border-radius: 100%;

  left: 50%;
  transform: translateX(-50%);
  filter: blur(4px);
}

#container {
  width: 100%;
  max-width: 600px;
}

#container svg {
  width: 100%;
  height: auto;
}

#pow,
#menu,
#keys .key,
#vol-up,
#vol-down,
#oct-up,
#oct-down {
  cursor: pointer;
}

#overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #b5b5b54c;
  backdrop-filter: blur(6px);

  z-index: 10;
}

#overlay .spiner {
  width: 30px;
  height: 30px;
  border: 2px solid #1d1d1d;
  border-radius: 50%;
  border-top: 3px solid transparent;
  animation: rotate 1s linear infinite;
}
#overlay p {
  font-size: 1.2rem;
  color: #1d1d1d;
}

.key.hit {
  transform: translateY(0.5px);
  opacity: 0.7;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
