* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(rgb(92, 192, 210), rgb(26, 92, 103));
  font-family: "Courier New", Courier, monospace;
}

#app {
  /* margin: auto; */
  padding: 0 1rem ;
  border: solid;
}

#app svg {
  width: 100%;
}

.key.hit {
  transform: translateY(0.5px);
  opacity: 0.7;
}